

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-image: url('/images/background.jpg'); */
    background-image: linear-gradient(to bottom right, #e26d89, #6abbd6 45%, #6abbd6 55%, #e26d89);
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    height: 100%; /* Make sure the body covers the whole viewport */
    color: white;
    /* backdrop-filter: blur(100px); */
    text-shadow: 0 0 10px black;
    
  }

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5em;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
}
main {
    padding: 1em;
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}

.footer_paragraph {
    text-align: left;
}