* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom left, #e26d89, #d184f0 55%, #d184f0 55%, #e26d89);
    min-height: 100vh;
    color: white;
    text-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    scroll-snap-type: x mandatory;
}
html, body {
    height: 100%; /* Ensure full height */
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
}

.container{
    width: 16rem;
    height: 16rem;
    background: rgba(255, 255, 255, 0);
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.container div{
    min-width:16rem;
    display: flex;
    height: 100%; 
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0);
    scroll-snap-align: center; 

}


main {
    padding: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px; 
}

footer {
    text-align: left;
    margin-left: 0px;  /* Adjust as necessary */
    margin-bottom: 20px;
    display: block;  /* Use block to ensure full width */
}

.footer_paragraph {
    font-size: 13px;
    cursor: pointer;
    display: inline;  /* Keep as inline for text flow */
    margin-left: 110rem;  /* Remove left margin */
}

.image-container {
    position: fixed;
    top: 20px;
    left: 35px;
    z-index: 10;
}

.image-container img {
    width: 100px;
    height: auto;
}
.container::-webkit-scrollbar {
    height: 13px;
  }
  
  .container::-webkit-scrollbar-track {
    background: #f1f1f100; /* color of the tracking area */
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #d25df0; /* color of the scroll thumb */
    border-radius: 15px; /* roundness of the scroll thumb */
    border: 10px solid #521f8d00; /* creates padding around scroll thumb */
  }

