body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom left, #e26d89, #d184f0 55%, #d184f0 55%, #e26d89);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh; /* Minimum height to be the full viewport */
    display: flex; /* Body becomes a flex container */
    flex-direction: column; /* Stack children of body vertically */
    color: white;
    text-shadow: 0 0 10px black;
    flex: 1;
    
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5em;
    position: relative; /* Add this line */
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
}

main {
    padding: 1em;
    flex: 1; /* Allows main content to grow and occupy any available space */
    display: flex; /* Make the main section a flex container */
    flex-direction: column; /* Arrange children in a column */
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
  }

.footer_paragraph {
    text-align: left;
}


header, nav, footer {
    flex-shrink: 0; /* Do not allow these sections to shrink */
}
